{
  "extends": "eslint-config-airbnb",
  "env": {
    "es6": true
  },
  "rules": {
    "complexity": [1, 2],
    "no-unused-vars": 1,
    "no-case-declarations": 0,
    "no-param-reassign": ["error", { "props": false }],
    "comma-dangle": [2, "never"],
    "arrow-parens": ["error", "as-needed"],
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": false,
        "allow": [
          "_exception",
          "__html",
          "__data",
          "__DEVELOPMENT__",
          "__CLIENT__",
          "__SERVER__",
          "__DISABLE_SSR__",
          "__DEVTOOLS__"
        ]
      }
    ],
    "max-len": [
      2,
      250
    ],
    "react/prefer-stateless-function": 1,
    "react/no-multi-comp": 0,
    "react/display-name": [
      0,
      {
        "ignoreTranspilerName": false
      }
    ],
    "react/jsx-no-bind": [1, {
      "ignoreRefs": true,
      "allowArrowFunctions": false,
      "allowBind": false
    }],
    "react/jsx-no-duplicate-props": 2,
    "react/no-string-refs": 2,
    "react/prefer-es6-class": [
      2,
      "always"
    ],
    "react/jsx-pascal-case": 2,
    "react/jsx-handler-names": [
      1,
      {
        "eventHandlerPrefix": "handle",
        "eventHandlerPropPrefix": "on"
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "import/no-unresolved": [
      1,
      {
        "commonjs": true,
        "amd": false
      }
    ],
    "import/no-duplicates": 2,
    "import/no-named-as-default": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "import/imports-first": 2,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "react/sort-comp": 0,
    "no-console": 1,
    "no-alert": 0,
    "no-debugger": 0
  },
  "plugins": [
    "react",
    "import"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/dev.config.js"
      }
    },
    "import/extensions": [
      ".js",
      ".jsx"
    ],
    "import/ignore": [
      "node_modules",
      ".json$",
      ".less$",
      ".styl$",
      ".scss$"
    ]
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "window": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
