.calendarWrapper {
  width 100%
}
.calendar {
  display table
  width 100%
}
.weekRow {
  display table-row
}
.dayCell {
  height 100px
  width 14.28%
  display table-cell
  border 1px solid #d6d6d6
  text-align center
  padding 15px 0
}

.title {
  font-size 12px
}
