.Slider {
  height 100%
  width 100%
  position relative
}

.SliderWrapper {
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  overflow hidden
}

.Slides {
  white-space: nowrap
  font-size: 0
  transition: all .5s
  height 100%
}

.Slide {
  display inline-block
  width 100%
  height 100%
  font-size: 16px
}

.arrowLeft {
  position absolute
  left 0
  top 0
  bottom 0
  width 30%
}

.arrowRight {
  position absolute
  right 0
  top 0
  bottom 0
  width 70%
}
